g.student *{
  pointer-events: none;
}

g.student{
  pointer-events: bounding-box;
}

.tooltip{
  pointer-events:none;
}

.hidden{
  opacity:0;
}

path{
  pointer-events:none;
}

.opaque_leaving{
  opacity:0;
  transition: 150ms linear;
}

.NewStretch{
  opacity:1;
  transition: 150ms linear;
}

.Transparent{
  opacity:0;
  transition: 100ms linear;
}
